@font-face{
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

:root {
  /* Primary */
  --clr-primary-light-red: hsl(0, 100%, 67%);
  --clr-primary-orangey-yellow: hsl(39, 100%, 56%);
  --clr-primary-green-teal: hsl(166, 100%, 37%);
  --clr-primary-cobalt-blue: hsl(234, 85%, 45%);

  /* plain hsl values */
  --clr-accent-1: 0, 100%, 67%;
  --clr-accent-2: 39, 100%, 56%;
  --clr-accent-3: 166, 100%, 37%;
  --clr-accent-4: 234, 85%, 45%;

  /* Gradients (colors) */
  --clr-gradient-light-slate-blue: hsl(252, 100%, 67%);
  --clr-gradient-light-royal-blue: hsl(241, 81%, 54%);
  --clr-gradient-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --clr-gradient-persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Gradients (ready to use) */
  --gradient-bg: linear-gradient(
    to bottom,
    var(--clr-gradient-light-slate-blue),
    var(--clr-gradient-light-royal-blue)
  );
  --gradient-circle: linear-gradient(
    to bottom,
    var(--clr-gradient-violet-blue-circle),
    var(--clr-gradient-persian-blue-circle)
  );

  /* Neutral */
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-light-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

  /* Typography */
  --font-size-paragraph: 18px;

  /* Font sizes */
  --font-xs:1.125rem;
  --font-sm:1.25rem;
  --font-md:1.5rem;
  --font-lg:1.75rem;
  --font-xl:2rem;
  --font-xxl:5rem;

  /* Font */
  --font-family-hanken-grotesk: 'HankenGrotesk', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}



body{
  font-family: var(--font-family-hanken-grotesk);
  background-color: var(--clr-neutral-pale-blue);
}

/* ===Gloabal Styling=== */


.result-summary{
  max-width: 46rem;
}

.result{
  background: var(--gradient-bg) ;
  color:hsla(0, 0%, 100%, 0.6) ;
}

.result-score{
  display: grid;
  place-content: center;
  /* Above is another technique to center */
  width: 12rem;
  aspect-ratio: 1/1;/* to have a perfect circle*/
  margin-inline: auto;
  background:linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  border-radius: 50%;
}

.result-score span {
  font-size: var(--font-xxl);
}

.result-rank{
  color: var(--natural-White);
  font-size: var(--font-xl);
  font-weight: var(--fw-bold);
}

/* All removed stroke values will be re-defined below*/
.summary-item svg{
    stroke: hsl(var(--item-color));
}

.summary-item{
  background-color: hsl(var(--item-color), .1);
}

.summary-item__title {
  color: hsl(var(--item-color));
} 

.summary-item[data-item-type="accent-1"] {
  --item-color: var(--clr-accent-1);/*all accent values defined as plain values, without hsl brackets (). 
  So the values can be used in every variable defined.Kinde of globally defined. 
  --clr-accent-1: 0, 100%, 67%; Now --item-color: 0, 100%, 67%. 
  So in .summary-item__title class it becomes title and here .summary-item svg, it becomes svg color. 
  Here it comes the advantage of using attribute selector.
  So by changing any value here: --clr-accent-1: 0, 100%, 67%, all background,
  title and svg color will be changed for specific summary item*/
}
.summary-item[data-item-type="accent-2"] {
  --item-color: var(--clr-accent-2);
}
.summary-item[data-item-type="accent-3"] {
  --item-color: var(--clr-accent-3);
}
.summary-item[data-item-type="accent-4"] {
  --item-color: var(--clr-accent-4);
}

.summary-score {
  font-weight: var(--fw-bold);
  color: hsl(224, 30%, 27%, .5);
}

.summary-score span {
  color: hsl(224, 30%, 27%);
}


/* === Utility Styling === */

.btn{
  background-color: var(--clr-neutral-dark-gray-blue);
  color: var(--clr-neutral-white);
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus{
  background: var(--gradient-bg);
  color: var(--clr-neutral-white);
}


@media (min-width:576px) {

  .container{
    min-height: 100vh;
  }

  .rounded-sm-custom {
    border-radius: 2rem; /* or whatever you want */
  }

  .box-shadow-custom {
    box-shadow: .5rem 1rem 3rem hsla(224, 30%, 27%, .3);
  }
}